body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #000;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

nav {
    border-bottom: 3px solid #ddd;
    background-color: #fff;
}

.navbar {
 
    margin: 0; 
    padding: 0;
   
}

.navbar > h1 {
    display: block;
    margin: 0;
    line-height: 50px;
    padding: 25px 40px;
    color: #fff;
    background-color:#4aaaa5;
    font-size: 30px;
    float: left;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: lighter;
    
}

.navbar > ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.navbar > ul > li {
    float: right;
}

.navbar > ul > li > a {
    display: block;
    text-align: center;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: #aaa ;
    font-size: 18px;
    font-family: helvetica, arial, serif;
}

.border-right {
    border-right: 1px solid #ddd;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 960px;
    height: 100%;
    clear: both;
}

main {
    background-color: #fff;
    width: 90%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-right: 10%;
    margin-left: 0;
    margin-bottom: 210px;
    position: relative;
    float: left;

}

main > h2 {
    border-bottom: 3px solid #ddd;
    color: #4aaaa5;
    font-size: 35px;
    padding-bottom: 25px;
    padding-top: 25px;

}

main > img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

main > p {
    font-family: helvetica;
    line-height: 200%;
    color: #777;
    margin-bottom: 30px;
}

footer {
    border-top: 5px solid #4aaaa5;
    width: 100%;
    background-color: #555;
    height: 75px;
    clear: both;
    padding-top: 20px;
  
}

footer > p {
    text-align: center;
    color: #ccc;
    font-family: helvetica, arial, serif;
    font-size: 16px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
  
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
  
input[type=submit] {
      background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
  
  

.display-left {

    display: inline-block;
    position: relative;
    float: left;
    border-bottom: 3px solid #ddd;

}

.display-right {

    display: inline-block;
    position: relative;
    float: left;
    border-bottom: 3px solid #ddd;
    
}

.left {

    height: 325px;
    width: 350px;
    padding: 20px 30px 20px 0px;
    margin-right: 60px;
    margin-bottom: 45px;
    float: left;
    


}

.right { 

    height: 385px;
    width: 350px;
    padding: 20px 30px 20px 0px;
    margin-right: 60px;
    margin-bottom: 60px;
    float: left;

}

.image-title {

    background: #4aaaa5;
    color: white;
    width: 321px;
    text-align: center;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    height: 65px;
    line-height: 60px;
    bottom: 25px;
    
}

h3{
    text-align: left;
    color:#aaa ;

    
}
h4{
    text-align:right;
    color:#aaa ;

}

.container2 {
    margin-right:auto;
    margin-left: 50px;
    margin-top: 40px;
    width: 760px;
    height: 100%;
    clear: both;
}

#connect{
     text-align: center;
     color:#4aaaa5;
     font-weight: bold;
     font-size: 50px;
     margin-right: 75px;

}
#newproject{
    text-align: center;
    color:#4aaaa5;
    font-weight: bold;
    margin-right: 55px;
    
    
}

#intro{
text-align: center;

}

#intro2{
    text-align:center;


}

#email{
    text-indent: 13%;
}

#myemail{
    text-indent: 22.5%;
}

#github{
    text-indent: 13%;
}

#linkedin{
    text-indent: 13%;

}

.p2{
    font-size: 15px;
    font-family: helvetica;
    color: #777;
}

.ph{
    text-align: center;
    color: #555;
     font-size: 20px;
    font-weight: bold;
    font-family: 'Tenor Sans', sans-serif;
}

.description{
    color: #555;
    font-weight: bold;
}


/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
   font-weight: bolder;
}


    @media (max-width: 980px){
        .navbar {
            width: 100%;
        }

        .navbar > ul {
            margin: 0;
        }

        .container {
            width: 100%;
        }
       
    }

    @media (max-width: 768px) {
        .navbar > ul {
            padding: 0;
            margin: 0;
        }

        .container {
            width: 100%;
        }
        #email{
            width:100%;
            padding: 0;
           margin: 0;
         
          }
          
          #myemail{
          width: 100%;
          padding: 0;
          margin: 0;
       
          }
          
          #github{
             width: 100%;
             padding: 0;
             margin: 0;
           
          }
          
          #linkedin{
              width: 100%;
              padding: 0;
              margin: 0;
          
          }
          
          .p2{
              width: 100%;
              padding: 0;
              margin: 0;
          }

    }

    @media (max-width: 640px) {
        .navbar > h1 {
            width: 100%;
            margin: 0;
            padding:0;
            text-align: center;
            position: static;
        }
    
        .navbar > ul {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    
        .navbar > ul > li {
            width: 33%;
            padding: 0;
            margin: 0;
        }
    
        .container {
            width: 100%;
            padding: 0;
            margin: 0;
        }
           
        main {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        #email{
          width:100%;
          padding: 0;
          margin: 0;
        }
        
        #myemail{
        width: 100%;
        padding: 0;
        margin: 0;
        }
        
        #github{
           width: 100%;
           padding: 0;
           margin: 0;
        }
        
        #linkedin{
            width: 100%;
            padding: 0;
            margin: 0;
        
        }
        
        .p2{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        

}
